# Data Wrangling for NBA Boxscore Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
games = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/games.csv')
games_details = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/games_details.csv')
players = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/players.csv')
standings = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/ranking.csv')

In [2]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23195 entries, 0 to 23194
Data columns (total 21 columns):
GAME_DATE_EST       23195 non-null object
GAME_ID             23195 non-null int64
GAME_STATUS_TEXT    23195 non-null object
HOME_TEAM_ID        23195 non-null int64
VISITOR_TEAM_ID     23195 non-null int64
SEASON              23195 non-null int64
TEAM_ID_home        23195 non-null int64
PTS_home            23096 non-null float64
FG_PCT_home         23096 non-null float64
FT_PCT_home         23096 non-null float64
FG3_PCT_home        23096 non-null float64
AST_home            23096 non-null float64
REB_home            23096 non-null float64
TEAM_ID_away        23195 non-null int64
PTS_away            23096 non-null float64
FG_PCT_away         23096 non-null float64
FT_PCT_away         23096 non-null float64
FG3_PCT_away        23096 non-null float64
AST_away            23096 non-null float64
REB_away            23096 non-null float64
HOME_TEAM_WINS      23195 non-null int64
dtypes: float64(12), int64(7), object(2)
memory usage: 3.7+ MB

In [3]:
standings.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612747,0,22019,2020-03-01,West,L.A. Lakers,59,46,13,0.780,21-7,25-6
1,1610612743,0,22019,2020-03-01,West,Denver,60,41,19,0.683,24-7,17-12
2,1610612746,0,22019,2020-03-01,West,LA Clippers,60,41,19,0.683,25-6,16-13
3,1610612745,0,22019,2020-03-01,West,Houston,59,39,20,0.661,21-8,18-12
4,1610612762,0,22019,2020-03-01,West,Utah,59,37,22,0.627,21-9,16-13

In [4]:
# convert date string to datetime variable
from datetime import datetime
games['GAME_DATE_EST'] = [datetime.strptime(x,'%Y-%m-%d') for x in games['GAME_DATE_EST']]
standings['STANDINGSDATE'] = [datetime.strptime(x,'%Y-%m-%d') for x in standings['STANDINGSDATE']]

In [5]:
#create season variable
standings['SEASON'] = np.where(standings['SEASON_ID'] < 2000, standings['SEASON_ID'] - 10000, standings['SEASON_ID'] - 20000)

In [6]:
games_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576782 entries, 0 to 576781
Data columns (total 28 columns):
GAME_ID              576782 non-null int64
TEAM_ID              576782 non-null int64
TEAM_ABBREVIATION    576782 non-null object
TEAM_CITY            576782 non-null object
PLAYER_ID            576782 non-null int64
PLAYER_NAME          576782 non-null object
START_POSITION       221374 non-null object
COMMENT              92260 non-null object
MIN                  484521 non-null object
FGM                  484521 non-null float64
FGA                  484521 non-null float64
FG_PCT               484521 non-null float64
FG3M                 484521 non-null float64
FG3A                 484521 non-null float64
FG3_PCT              484521 non-null float64
FTM                  484521 non-null float64
FTA                  484521 non-null float64
FT_PCT               484521 non-null float64
OREB                 484521 non-null float64
DREB                 484521 non-null float64
REB                  484521 non-null float64
AST                  484521 non-null float64
STL                  484521 non-null float64
BLK                  484521 non-null float64
TO                   484521 non-null float64
PF                   484521 non-null float64
PTS                  484521 non-null float64
PLUS_MINUS           460860 non-null float64
dtypes: float64(19), int64(3), object(6)
memory usage: 123.2+ MB

In [7]:
final_boxscore = games_details.merge(games, left_on='GAME_ID', right_on="GAME_ID", how='inner')

In [8]:
final_boxscore = final_boxscore[['SEASON','GAME_ID','GAME_DATE_EST','TEAM_ID','HOME_TEAM_ID','VISITOR_TEAM_ID','TEAM_ABBREVIATION',
                                'TEAM_CITY','PLAYER_ID','PLAYER_NAME','START_POSITION','MIN', 'PTS','FGM','FGA','FG_PCT',
                                'FG3M', 'FG3A','FG3_PCT','FTM','FTA','FT_PCT','OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
                                'PF', 'PLUS_MINUS','PTS_home','PTS_away', 'AST_home','AST_away','REB_home','REB_away',
                                'FG_PCT_home','FG_PCT_away','FT_PCT_home','FT_PCT_away','FG3_PCT_home','FG3_PCT_away']]

In [9]:
final_boxscore['GAME_LOC'] = np.where(final_boxscore['TEAM_ID'] == final_boxscore['HOME_TEAM_ID'], 'HOME','AWAY')

In [10]:
final_boxscore['TOT_PTS'] = np.where(final_boxscore['GAME_LOC'] == 'HOME', final_boxscore['PTS_home'] , final_boxscore['PTS_away'])
final_boxscore['TOT_AST'] = np.where(final_boxscore['GAME_LOC'] == 'HOME', final_boxscore['AST_home'] , final_boxscore['AST_away'])
final_boxscore['TOT_REB'] = np.where(final_boxscore['GAME_LOC'] == 'HOME', final_boxscore['REB_home'] , final_boxscore['REB_away'])
final_boxscore['TOT_FG_PCT'] = np.where(final_boxscore['GAME_LOC'] == 'HOME', final_boxscore['FG_PCT_home'] , final_boxscore['FG_PCT_away'])
final_boxscore['TOT_FT_PCT'] = np.where(final_boxscore['GAME_LOC'] == 'HOME', final_boxscore['FT_PCT_home'] , final_boxscore['FT_PCT_away'])
final_boxscore['TOT_FG3_PCT'] = np.where(final_boxscore['GAME_LOC'] == 'HOME', final_boxscore['FG3_PCT_home'] , final_boxscore['FG3_PCT_away'])

In [11]:
final_boxscore = final_boxscore[['SEASON','GAME_ID','GAME_DATE_EST','TEAM_ID','HOME_TEAM_ID','VISITOR_TEAM_ID','TEAM_ABBREVIATION',
                                'TEAM_CITY','GAME_LOC','PLAYER_ID','PLAYER_NAME','START_POSITION','MIN', 'PTS','FGM','FGA',
                                'FG_PCT','FG3M', 'FG3A','FG3_PCT','FTM','FTA','FT_PCT','OREB', 'DREB', 'REB', 'AST', 'STL', 
                                'BLK','TO', 'PF', 'PLUS_MINUS','TOT_PTS','TOT_AST','TOT_REB','TOT_FG_PCT','TOT_FT_PCT',
                                'TOT_FG3_PCT']]

In [12]:
final_boxscore.set_index('GAME_DATE_EST')

,SEASON,GAME_ID,TEAM_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,...,BLK,TO,PF,PLUS_MINUS,TOT_PTS,TOT_AST,TOT_REB,TOT_FG_PCT,TOT_FT_PCT,TOT_FG3_PCT
GAME_DATE_EST,,,,,,,,,,,,,,,,,,,,,
2020-03-01,2019,21900895,1610612749,1610612766,1610612749,MIL,Milwaukee,202083,Wesley Matthews,F,...,0.0,0.0,0.0,11.0,93.0,20.0,61.0,0.402,0.762,0.226
2020-03-01,2019,21900895,1610612749,1610612766,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,F,...,0.0,3.0,2.0,22.0,93.0,20.0,61.0,0.402,0.762,0.226
2020-03-01,2019,21900895,1610612749,1610612766,1610612749,MIL,Milwaukee,201572,Brook Lopez,C,...,3.0,0.0,2.0,16.0,93.0,20.0,61.0,0.402,0.762,0.226
2020-03-01,2019,21900895,1610612749,1610612766,1610612749,MIL,Milwaukee,1628978,Donte DiVincenzo,G,...,1.0,2.0,0.0,14.0,93.0,20.0,61.0,0.402,0.762,0.226
2020-03-01,2019,21900895,1610612749,1610612766,1610612749,MIL,Milwaukee,202339,Eric Bledsoe,G,...,0.0,3.0,2.0,6.0,93.0,20.0,61.0,0.402,0.762,0.226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-10-06,2012,11200005,1610612743,1610612746,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,...,0.0,1.0,3.0,NaN,106.0,25.0,34.0,0.532,0.615,0.471
2012-10-06,2012,11200005,1610612743,1610612746,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,...,0.0,3.0,3.0,NaN,106.0,25.0,34.0,0.532,0.615,0.471
2012-10-06,2012,11200005,1610612743,1610612746,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,...,0.0,0.0,3.0,NaN,106.0,25.0,34.0,0.532,0.615,0.471
2012-10-06,2012,11200005,1610612743,1610612746,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,...,0.0,4.0,2.0,NaN,106.0,25.0,34.0,0.532,0.615,0.471
2012-10-06,2012,11200005,1610612743,1610612746,1610612743,DEN,Denver,201951,Ty Lawson,NaN,...,0.0,6.0,1.0,NaN,106.0,25.0,34.0,0.532,0.615,0.471

In [13]:
final_boxscore.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576782 entries, 0 to 576781
Data columns (total 37 columns):
SEASON               576782 non-null int64
GAME_ID              576782 non-null int64
GAME_DATE_EST        576782 non-null datetime64[ns]
TEAM_ID              576782 non-null int64
HOME_TEAM_ID         576782 non-null int64
VISITOR_TEAM_ID      576782 non-null int64
TEAM_ABBREVIATION    576782 non-null object
TEAM_CITY            576782 non-null object
PLAYER_ID            576782 non-null int64
PLAYER_NAME          576782 non-null object
START_POSITION       221374 non-null object
MIN                  484521 non-null object
PTS                  484521 non-null float64
FGM                  484521 non-null float64
FGA                  484521 non-null float64
FG_PCT               484521 non-null float64
FG3M                 484521 non-null float64
FG3A                 484521 non-null float64
FG3_PCT              484521 non-null float64
FTM                  484521 non-null float64
FTA                  484521 non-null float64
FT_PCT               484521 non-null float64
OREB                 484521 non-null float64
DREB                 484521 non-null float64
REB                  484521 non-null float64
AST                  484521 non-null float64
STL                  484521 non-null float64
BLK                  484521 non-null float64
TO                   484521 non-null float64
PF                   484521 non-null float64
PLUS_MINUS           460860 non-null float64
TOT_PTS              576782 non-null float64
TOT_AST              576782 non-null float64
TOT_REB              576782 non-null float64
TOT_FG_PCT           576782 non-null float64
TOT_FT_PCT           576782 non-null float64
TOT_FG3_PCT          576782 non-null float64
dtypes: datetime64[ns](1), float64(25), int64(6), object(5)
memory usage: 167.2+ MB

In [14]:
giannis_stats = final_boxscore.loc[final_boxscore['PLAYER_ID'] == 203507]
giannis_stats.index = np.flip(np.arange(1,len(giannis_stats) + 1))
giannis_stats[['GAME_ID','TEAM_ID','TEAM_ABBREVIATION','TEAM_CITY','PLAYER_ID','PLAYER_NAME','START_POSITION',
              'MIN','FGM','FGA','FG_PCT','FG3M','FG3A','FG3_PCT','FTM','FTA','FT_PCT','OREB','DREB','REB','AST','STL',
              'BLK','TO','PF','PTS','PLUS_MINUS']]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,MIN,FGM,FGA,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
606,21900895,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,F,34:55,17.0,28.0,...,2.0,18.0,20.0,6.0,1.0,0.0,3.0,2.0,41.0,22.0
605,21900882,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,F,27:17,13.0,20.0,...,2.0,11.0,13.0,6.0,0.0,0.0,3.0,2.0,32.0,44.0
604,21900858,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,F,38:00,5.0,14.0,...,0.0,19.0,19.0,8.0,0.0,3.0,4.0,1.0,19.0,13.0
603,21900851,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,F,24:51,8.0,12.0,...,2.0,12.0,14.0,2.0,0.0,1.0,8.0,6.0,22.0,14.0
602,21900840,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,F,29:08,12.0,17.0,...,0.0,17.0,17.0,8.0,0.0,1.0,4.0,2.0,31.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,11300086,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,27,1.0,5.0,...,1.0,5.0,6.0,1.0,2.0,2.0,1.0,4.0,6.0,NaN
4,11300053,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,19,2.0,3.0,...,1.0,2.0,3.0,0.0,1.0,0.0,0.0,1.0,8.0,NaN
3,11300042,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,14,1.0,2.0,...,1.0,4.0,5.0,2.0,0.0,1.0,0.0,0.0,2.0,NaN
2,11300028,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,28,1.0,6.0,...,0.0,7.0,7.0,0.0,1.0,4.0,7.0,5.0,4.0,NaN
1,11300016,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,29,3.0,7.0,...,0.0,4.0,4.0,2.0,2.0,3.0,5.0,5.0,14.0,NaN

In [45]:
player_stats = final_boxscore.loc[final_boxscore['PLAYER_ID'] == 203507]
player_stats.index = np.flip(np.arange(1,len(player_stats) + 1))
player_roll = []
Overall = pd.DataFrame(columns= ['GAME_DATE_EST','PLAYER_ID', 'PTSL5','PTSL3'])
for i in np.arange(1,len(player_stats) + 1):
    roll_list = [player_stats.iloc[i-1]['GAME_DATE_EST'], 
                player_stats.iloc[i-1]['PLAYER_ID'],
                player_stats.iloc[i-1:i+5]['PTS'].mean(),
                player_stats.iloc[i-1:i+3]['PTS'].mean()]
    player_roll.append(roll_list)
Var = pd.DataFrame(player_roll)
Var.columns = ['GAME_DATE_EST','PLAYER_ID', 'PTSL5','PTSL3']
Overall = Overall.append(Var)
Overall

    GAME_DATE_EST PLAYER_ID      PTSL5      PTSL3
0      2020-03-01    203507  29.666667  28.500000
1      2020-02-28    203507  25.833333  26.000000
2      2020-02-25    203507  26.500000  26.250000
3      2020-02-24    203507  29.000000  26.000000
4      2020-02-22    203507  30.333333  29.500000
..            ...       ...        ...        ...
601    2013-10-21    203507   6.800000   5.000000
602    2013-10-15    203507   7.000000   7.000000
603    2013-10-12    203507   6.666667   6.666667
604    2013-10-10    203507   9.000000   9.000000
605    2013-10-08    203507  14.000000  14.000000

[606 rows x 4 columns]

In [47]:
all_players = players['PLAYER_ID']
all_players = list(all_players.unique())
print(len(all_players))

1769

In [48]:
rolling = pd.DataFrame(columns=['GAME_DATE_EST','PLAYER_ID', 'PTSL5','PTSL3'])
for player in all_players:
    player_stats = final_boxscore.loc[final_boxscore['PLAYER_ID'] == player]
    player_stats.index = np.flip(np.arange(1,len(player_stats) + 1))
    player_roll = []
    for i in np.arange(1,len(player_stats) + 1):
        roll_list = [player_stats.iloc[i-1]['GAME_DATE_EST'], 
                    player_stats.iloc[i-1]['PLAYER_ID'],
                    player_stats.iloc[i-1:i+5]['PTS'].mean(),
                    player_stats.iloc[i-1:i+3]['PTS'].mean()]
        player_roll.append(roll_list)
    Var = pd.DataFrame(player_roll)
    Var.columns = ['GAME_DATE_EST','PLAYER_ID', 'PTSL5','PTSL3']
    rolling = rolling.append(Var)

In [51]:
rolling.loc[rolling['PLAYER_ID'] == 203507]

    GAME_DATE_EST PLAYER_ID      PTSL5      PTSL3
0      2020-03-01    203507  29.666667  28.500000
1      2020-02-28    203507  25.833333  26.000000
2      2020-02-25    203507  26.500000  26.250000
3      2020-02-24    203507  29.000000  26.000000
4      2020-02-22    203507  30.333333  29.500000
..            ...       ...        ...        ...
601    2013-10-21    203507   6.800000   5.000000
602    2013-10-15    203507   7.000000   7.000000
603    2013-10-12    203507   6.666667   6.666667
604    2013-10-10    203507   9.000000   9.000000
605    2013-10-08    203507  14.000000  14.000000

[606 rows x 4 columns]

In [50]:
final_boxscore = pd.merge(final_boxscore,rolling,how='left',on=['GAME_DATE_EST','PLAYER_ID'])

##### create unique list of player names and ID's

In [53]:
players.sort_values(by=['PLAYER_ID'], inplace=True,ascending=False)

In [62]:
unique_players = players.drop(columns=['TEAM_ID', 'SEASON'])
unique_players.drop_duplicates(inplace = True)
unique_players

           PLAYER_NAME   PLAYER_ID
2092         Matt Matt  1962937827
2088      Paige Marcus  1962937755
5974    Damien Wilkins  1962936495
6000     Brian Skinner  1962936489
5998        Jan Vesely  1962936483
...                ...         ...
6790      Juwan Howard         436
6096  Shaquille O'Neal         406
7068    Lindsey Hunter         283
5830        Grant Hill         255
6626         Dee Brown         244

[1769 rows x 2 columns]

1769